$container-max-width: 400px;
$container-padding: 0.5rem;

$border-radius: 5px;
$border-color: #ddd;

$spy-red: #e12;
$resistance-blue: #5ab;

.resistance-hover { background: #f3f3f3; }
.resistance-selected { background: #dff2bf; }

.avalon-hover { background: #f3f3f3; }
.avalon-selected {  background: #cce6ff; }
