$container-max-width: 400px;
$container-padding: 0.5rem;

$border-radius: 5px;
$border-color: #ddd;

$background-selected: #dff2bf;
$background-hover: #f3f3f3;

$spy-red: #e12;
$resistance-blue: #5ab;
