$container-wide-width: 600px;
$container-good-width: 400px;
$container-padding: 0.5rem;

$border-radius: 5px;
$border-color: #ddd;

$spy-red: #e12;
$resistance-blue: #5ab;

$resistance-green: #dff2bf;
$avalon-blue: #cce6ff;

$hover-color: #f3f3f3;

%resistance-hover { background: none; }
%resistance-selected { background: $resistance-green; }
%resistance-disabled { color: #999; cursor: default; }
%resistance-button { 
    background: none; 
    border: 1px solid $border-color;
}

%avalon-hover { background: none; }
%avalon-selected { background: $avalon-blue; }
%avalon-disabled { color: #999; cursor: default; }
%avalon-button { border: 1px solid $border-color; }


