@import "variables";

.play-btn {
    background: white;
    border: 1px solid #999;
    color: black;
    outline: none;
    display: block;
    margin: auto;
    padding: 0.5rem 2rem;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: $border-radius;

    .sub {
        display: block;
        font-size: 0.8rem;
    }

    &:hover {
        background: #f3f3f3;
    }

    &:active {
        background: #eee;
    }
}
