@import "variables";


.card {
    cursor: pointer;

    flex: 0 0 48%;
    
    padding: 0.35rem;
    margin: 5px 1%;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    box-sizing: border-box;

    display: flex;

    &:hover {
        background-color: $background-hover;
    }

    &.card--selected {
        background: $background-selected;
    }
}



.card__icon {
    flex: 0 0 auto;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        height: 24px;
        width: 24px;
        fill: white;
    }

}

.card__icon--spy {
    background: $spy-red;   
}

.card__icon--resistance {
    background: $resistance-blue;

    svg {
        height: 30px;
    }
}

.card__info {
    flex: 1 1 auto;
}

.card__name {
    font-weight: bold;
}

.card__description {
    font-size: 0.8em;
}
