@import "variables";


.card {
    cursor: pointer;
    
    padding: 0.35rem;
    margin: 5px 0;
    border: 1px solid #eee;
    border-radius: $border-radius;

    display: flex;
}

.card--selected {
    background: #DFF2BF;
}

.card__affiliation {
    flex: 0 0 auto;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        height: 24px;
        width: 24px;
        fill: white;
    }

}

.card__info {
    flex: 1 1 auto;
}

.card__affiliation--spy {
    background: $spy-red;   
}

.card__affiliation--resistance {
    background: $resistance-blue;

    svg {
        height: 30px;
    }
}

.card__name {
    font-weight: bold;
}

.card__description {
    font-size: 0.8em;
}
