@import "variables";

.player-count {
    margin-left: 0.5em;

    label {
        font-size: 0.75em;
        font-weight: normal;
    }

    .num {
        font-weight: bold;
        margin: 0 0.25em;
    }
}

.player-select .avoid-wrap { display: inline-block; }

.btn-group {
    display: flex;
    flex-direction: row;

    .btn-group__btn:first-child span {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }
    
    .btn-group__btn:last-child span {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }

}

.btn-group__btn {
    flex: 1 1 auto;
    
    input[type='radio'] {
        display: none;

        .resistance &:checked + span { @extend %resistance-selected; }
        .avalon &:checked + span { @extend %avalon-selected; }
        
        .resistance &:disabled + span { @extend %resistance-disabled; }
        .avalon &:disabled + span { @extend %avalon-disabled; }
    }

    span {
        cursor: pointer;
        text-align: center;
        border: 1px solid $border-color;
        display: block;
        padding: 0.5em 0;  

        .avalon & {
            padding: 0.25em 0;
            font-size: 1.25em;
            // font-weight: bold;
        }  
    }

    .avalon & span { @extend %avalon-button; }
    .avalon & span:hover { @extend %avalon-hover; }

    .resistance & span { @extend %resistance-button; }
    .resistance & span:hover { @extend %resistance-hover; }
}
